.h-100vh{
        height: 92vh;
}
.w-98{
        width: 98%;
}
.ds-Center
{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.tr-color-selected{
        background-color: hsla(196, 77%, 55%, 0.3) !important;
        transition: all .2s ease-in;
        }